<!--title-->
<div class="row no-margin-top" *ngFor="let place of places">
    <div class="col-12 col-md-12 border-bottom-styles">
        <div class="row">
            <div class="col-3 col-md-2">
                <img src="{{place.categories[0].iconUrl}}" alt="" class="location-image">
            </div>
            <div class="col-9 col-md-8 text-middle">
                <div class="titleContainer">
                    <div class="title">
                        {{place.name.en}}
                    </div>
                    <div class="subTitle">
                        {{place.categories[0].name.en}}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="status">
                    {{place.status}}
                </div>
            </div>
        </div>
        <!--main image-->
        <div class="row">
            <div class="col-12 col-md-12">
                <img class="main-view-area_image" src="{{place.placeProfilePictureUrl}}" alt="">
            </div>
        </div>

        <!--description-->
        <div class="row">
            <div class="col-12 col-md-12">
            {{place.shortDescription.en}}
            </div>
        </div>

        <!--keywords-->
        <div class="row">
            <div class="col-12 col-md-12">

            <div class="keywords">
                <a href="#{{place.hashtags[0].name}}">
                    #{{place.hashtags[0].name}}
                </a>
            </div>

            </div>
        </div>

        <!--metadata-->
        <div class="row">
            <div class="col-12 col-md-12">

            <div class="metadata">
                <div class="metadata-container">
                    <div class="metadata-image">
                        <img src="../../assets/images/ic_location@2x.png" alt="">
                    </div>
                    <div class="metadata-title">
                        {{place.address.firstLine.en}}

                    </div>
                </div>
                <div class="metadata-container">
                    <div class="metadata-image">
                        <img src="../../assets/images/ic_walk@2x.png" alt="">
                    </div>
                    <div class="metadata-title">
                        120 minutes walk
                    </div>
                </div>
                <div class="metadata-container">
                    <div class="metadata-image">
                        <img class="img-md" src="../../assets/images/ic_followers@2x.png" alt="">
                    </div>
                    <div class="metadata-title">
                        {{place.totalFollowersCount}} Followers
                    </div>
                </div>
            </div>

            </div>
        </div>

        <!--facilities-->
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="facilities">

                    <!--<div class="img-container" *ngFor="let facility of place.facilities">-->
                    <!--<img src="{{facility.iconUrl}}" alt="">-->
                    <!--</div>-->

                    <div class="img-container">
                        <img src="../../assets/images/ic_air conditioned@2x.png" alt="">
                    </div>
                    <div class="img-container">
                        <img src="../../assets/images/ic_outdoors@2x.png" alt="">
                    </div>
                    <div class="img-container">
                        <img src="../../assets/images/ic_online reservation@2x.png" alt="">
                    </div>
                    <div class="img-container">
                        <img src="../../assets/images/ic_allows%20pet@2x.png" alt="">
                    </div>
                    <div class="img-container">
                        <img src="../../assets/images/ic_ladies only@2x.png" alt="">
                    </div>
                    <div class="img-container">
                        <img src="../../assets/images/ic_smoking@2x.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>