@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

.hidden {
    visibility: hidden;
    display: none;
}

/*adjusting gutter space*/
.row {
    margin: 1em 0px;
}

body {
    background-color: lightgray;
    font-size: 1em;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

